html, body {
    background-color: #333333;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    width: 85%;
    overflow: auto;
    margin-top: 11em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}

#profilepic {
    width: 200px;
    margin: 0em 1em 1em 1em;
    float: left;
    border: solid 4px white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

.bio {
    color: white;
    margin: 1em;
    padding: 0em;
    font-size: 1.2em;
    line-height: 1.75;
    letter-spacing: .05em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
    overflow: auto;
}

footer {
    width: 100vw;
    height: 2.8em;
    background: #009999;
    margin: 0em 0em 0em 0em;
    padding: 0em;
    clear: left;
    flex-shrink: 0;
    text-align: center;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, .7);
}

h1 {
    color: white;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

#toptext {
    display: block;
    color: white;
    font-size: 6em;
    letter-spacing: .1em;
    text-align: center;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: #009999;
}

h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 1rem 0 1rem;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

p, li, a {
    color: white;
    margin: 0em;
    padding: 0em;
    font-size: 1em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    line-height: 1.75em;
    letter-spacing: .05em;
    text-decoration: none;
}

.projects li {
    margin-bottom: 1.5em;
}

.description {
    font-size: .75em;
    margin-left: 1em;
    font-weight: normal;
}

nav {
    content: "";
    clear: both;
    background-color: #999999;
    width: 100vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .7);
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-flex;
}

nav li{
    display: inline-flex;
}

nav a {
    border: none;
    margin: 0;
    padding: .5em 1em .5em 1em;
    background-color: #999999;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

.projects a:hover {
    color: white;
    background-color: #006666;
}

.active {
    background-color: #009999;
}

.projects, .projectTitle {
    font-size: 1.6em;
    font-weight: bold;
    clear: both;
    margin: 0 auto 0 auto;
    padding: 0;
}

.projectBox{
    text-align: center;
    display: inline-block;
    width: 500px;
    padding: 1em;
}

.projectRow{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.thumbnail {
    width: 200px;
    height: 200px;
    border: solid 4px white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

.break {
    display: none;
}

.logoimage {
    display: none;
    width: 28px;
    height: 28px;
}

.repolink{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1000px){

    .projectBox{
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 1em 0 1em 0;
    }

    .projectRow{
        display: block;
    }

}

@media screen and (max-width: 675px) {
    .content {
        margin-top: 7em;
        overflow-x: hidden;
        text-align: center;
    }

    .bio{
        text-align: left;
    }
    #toptext {
        font-size: 3em;
    }
    #profilepic {
        float: none;
        margin: 0 auto;
    }
    nav a {
        font-size: 1em;
        padding-left: .5em;
        padding-right: .5em;
        font-weight: normal;
    }
    h2 {
        font-size: 1em;
        text-align: center;
    }
    .break {
        display: block;
    }
    footer {
        height: 3.5em;
    }

    .desktoptext {
        display: none;
    }

    .logoimage {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    #profilepic {
        width: 200px;
        margin: 1em auto;
        float: none;
    }
}