html, body {
    background-color: #333333;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    width: 960px;
    overflow: auto;
}

.gallery {
    max-width: 1000px;
    margin: auto;
}

.gallery img{
    margin: 2em;
    height: 25em;
    vertical-align: middle;
}

#profilepic {
    width: 200px;
    margin: 1em 1em 1em 1em;
    float: left;
}

#bio {
    color: white;
    margin: 1em 1em 1em 4em;
    padding: 0em;
    font-size: 1.2em;
    line-height: 1.75;
    letter-spacing: .05em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100vw;
    height: 6em;
    background: #009999;
    margin: 0em 0em 0em 0em;
    padding: 0 0 0 1em;
    position: fixed;
    top: 0;
    left: 0;
}


footer{
    width: 100vw;
    height: 2em;
    background: #009999;
    margin: 0em 0em 0em 0em;
    padding: 0em;
    clear: left;
    flex-shrink: 0;
}

h1 { 
    color: white;
    font-size: 6em;
    margin: 0em 0em 0em 0em;
    text-align: left;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

#toptext{
    color: white;
    font-size: 9em;
    font-weight: bold;
    text-align: left;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #009999;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2.25em 1em 0em 1em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
} 

h3 {
    color: white;
    margin: 1.75em 15em 1em 4em;
    padding: 0em;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: .07em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
} 

label {
    color: white;
    margin: 1em 1em 1em 1em;
    padding: 0em;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: .07em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
} 

p {
    color: white;
    margin: 1em 1em 1em 6em;
    padding: 0em;
    font-size: 1.2em;
    line-height: 1.75;
    letter-spacing: .05em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
} 

form{
    color: white;
    margin: 1em;
    padding: 0em;
    font-size: 1em;
    line-height: 1.75;
    letter-spacing: .05em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

#formbox {
    margin: 1em;
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
    font-size: 1em;
    font-weight: bold;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    position: fixed;
    top:6em;
    left: 0em;
}
  
nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}
  
li a:hover {
    background-color: #006666;
}

.active {
    background-color: #009999;
}

#more {
    display: none;
}

#message{
    background-color: white;
    width: 50em;
    padding: .5em;
    height: 6em;
    box-sizing: border-box;
}

.textinput{
    background-color: white;
    width: 50em;
    padding: .5em;
    box-sizing: border-box;
}

button {
    background-color: #999999; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 1em;
    margin-top: 0em;
    padding: .5em 2em .5em 2em;
    font-family: futura-pt, Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    background-color: #009999;
}
#readBtn{
    margin: 1em 4em 1em 4em;
}